@model ModelCliente

<script>
    var total = 0;
    $(document).ready(function () {
        $('table tbody tr').each(function () {
            total += parseFloat(this.children[4].innerHTML.replace(',', '.'));
        });
        $('table tfoot td').text(total.toLocaleString('pt-BR', { minimumFractionDigits: 2 }));
    });
</script>

<div class="container">
    <div class="form-row">
        <div class="col col-8">
            <h3>Listagem de Clientes</h3>
        </div>
        <button type="button" class="btn btn-outline-primary" onclick="Filtro()"><i class="fa fa-filter"></i> Filtro CPF/CNPJ</button>
    </div>
    <hr />

    <div class="form-inline">
        <button type="button" class="btn btn-outline-success btn-sm Cadastro"> <i class="fa fa-user"></i> Cadastrar Cliente</button>
        <button type="button" class="btn btn-outline-dark btn-sm ml-3" onclick="Voltar()"> <i class="fa fa-step-backward"></i> Voltar</button>
    </div>    
</div>

<br />

<div class="container">
    <div class="table-responsive">
        <table class="table-bordered">
            <thead>
                <tr>
                    <td style="padding: 0px 20px 0px 20px; color: red;">Id</td>
                    <td style="padding: 0px 20px 0px 20px;">Nome</td>
                    <td style="padding: 0px 20px 0px 20px;">CPF/CNPJ</td>
                    <td style="padding: 0px 20px 0px 20px;">Nascimento</td>
                    <td style="padding: 0px 20px 0px 20px;">Limite</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @{
                    @foreach (var item in (List<ModelCliente>)ViewBag.ListarClientes)
                    {
                        <tr>
                            <td style="padding: 0px 20px 0px 20px; color: red;">@item.Id</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.Nome</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.CPF</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.DataNascimento.ToShortDateString()</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.LimiteDeCredito</td>

                            <td style="padding: 2px;"><button type="button" class="btn btn-outline-warning btn-sm Editar" data-id="@item.Id"> <i class="fa fa-edit"></i> Editar</button></td>
                            <td style="padding: 2px;"><button type="button" class="btn btn-outline-danger btn-sm Excluir" data-id="@item.Id"> <i class="fa fa-eraser"></i> Excluir</button></td>
                        </tr>
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <th style="padding-left: 5px;" colspan=4>Total Investido</th>
                    <td style="color: blue; padding-left: 18px; font-style:oblique"></td>
                </tr>
            </tfoot>

        </table>

        <div class="modal" id="modal">

        </div>

        @section scripts{
            <script>                               

                $(function () {
                    $(".Editar").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Cadastro?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });
                })

                $(function () {
                    $(".Excluir").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Excluir?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });
                })

                $(".Cadastro").click(function () {
                    $("#modal").load("Cadastro", function () {
                        $("#modal").modal();
                    })
                });              
                   
            </script>
           
        }

        <div style="margin-top: 20px;">
            <br /><hr />
            <p>@DateTime.Now.Year - Treino MVC - Por Paulo Bruno &reg;</p>
        </div>


        <script>

            function Filtro() {
                window.location.href = '../Cliente/Filtro';
            }

            function Voltar() {
                window.location.href = '../Home/Index';
            }
        </script>       
    </div>
</div>